<div class="container-fluid container-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
        <div class="input-group input-group-lg">
        <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search"></i></span>
        <input type="text" class="form-control" placeholder="Sök" aria-describedby="basic-addon1">
      </div>
      </div>
    </div>
    </div>
    <div class="row">
      <div class="col-md-12">
      <div class="form-inline pull-left">
      <div class="btn-group" dropdown>
        <button dropdownToggle type="button" class="btn btn-lg btn-primary dropdown-toggle">
          Kategorier <span class="caret"></span>
        </button>
        <ul *dropdownMenu class="dropdown-menu" role="menu">
          <li role="menuitem"><a class="dropdown-item" href="#">IT</a></li>
          <li role="menuitem"><a class="dropdown-item" href="#">Bygg</a></li>
          <li role="menuitem"><a class="dropdown-item" href="#">Hälsa/Sjukvård</a></li>
        </ul>
      </div>
      </div>
      <div class="form-inline pull-left">
      <div class="btn-group" dropdown>
        <button dropdownToggle type="button" class="btn btn-lg btn-primary dropdown-toggle">
          välj efter datum <span class="caret"></span>
        </button>
        <ul *dropdownMenu class="dropdown-menu" role="menu">
          <li role="menuitem"><a class="dropdown-item" href="#">Senaste först</a></li>
          <li role="menuitem"><a class="dropdown-item" href="#">Bygg</a></li>
          <li role="menuitem"><a class="dropdown-item" href="#">Hälsa/Sjukvård</a></li>
        </ul>
      </div>
      </div>
    </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-3" *ngFor="let user of userData">
        <div class="thumbnail">
          <a href="{{user.href}}">
            <img src="{{user.img}}" alt="video">
            <div class="caption">
              <p class="sm color-light-grey"><em>{{user.category}}, {{user.date}}</em></p>
              <h4>{{user.name}} <span class="badge seagreen ">{{user.averageRating}}</span></h4>
            </div>
          </a>
        </div>
      </div>
    </div>
 </div>
</div>
