<div class="container-fluid container-page">
  <div class="container">
    <tabset type="pills">
      <tab heading="Video">
        <div class="content">
          <h2>Mina videos</h2>
          <div class="row">
            <div class="col-lg-8">
              <img src="./assets/img/placeholder-video.png" alt="video">
            </div>
            <div class="col-lg-4">
              <h3>Rating</h3>
              <app-rating class="ifProfilePage"></app-rating>
            </div>
          </div>
        </div>
      </tab>
      <tab heading="CV">
        <div class="content">
          <h2>Min CV</h2>
          <app-cv class="ifProfilePage"></app-cv>
        </div>
      </tab>
      <tab heading="Personligt brev">
        <div class="content">
          <h2>Personligt brev</h2>
          <div class="help-box">
            <h3>I gotta piss</h3>
            <p>Do you see any Teletubbies in here? Do you see a slender plastic tag clipped to my shirt with my name printed on it? Do you see a little Asian child with a blank expression on his face sitting outside on a mechanical helicopter that shakes when you put quarters in it? No? Well, that's what you see at a toy store. And you must think you're in a toy store, because you're here shopping for an infant named Jeb.</p>
          </div>
          <textarea rows="4" class="form-control" id="inputOther" placeholder="Övriga meriter (publikationer, praktik, egna projekt, volontärarbete)"></textarea>
        </div>
      </tab>
    </tabset>
  </div>
</div>
