<ng-sidebar-container>
  <ng-sidebar [(opened)]="_opened">
    <app-sidebar></app-sidebar>
  </ng-sidebar>
</ng-sidebar-container>

<nav class="navbar navbar-fixed-top">
  <div class="container-fluid">
    <button class="btn btn-primary navbar-btn pull-left" (click)="_toggleSidebar()" tooltip="Visa profil" placement="bottom">Profil</button>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#" tooltip="Spela in intervju" placement="bottom">till intervjun</a></li>
      <li><a href="#" tooltip="Skaffa credits genom att betygsätta andras intervjuer" placement="bottom">ge feedback <span class="badge seagreen">2</span></a></li>
    </ul>
  </div>
</nav>
