/* BODY */
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  background-color:transparent;}

/* TYPPOGRAPHY */
/* Headers */
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	margin: 0;
	font-weight:400;
	line-height: 1.3;
	margin-bottom:1rem;  }


h5, .h6, h6, .h6 {
	text-transform:uppercase;
	font-weight:600;
	font-family: 'PT Sans', sans-serif; }

h1, .h1 {
	font-size: 6rem;
	line-height: 1.1; }

h2, .h2 { font-size: 4rem; }
h3, .h3 { font-size: 2.5rem; }
h4, .h4 { font-size: 2rem; }
h5, .h5 { font-size: 1.7rem; }
h6, .h6 { font-size: 1.5rem; }

@media screen and (max-width: 767px) {
  h1, .h1 {
	font-size: 6rem;
	line-height: 1.1; }
	h2, .h2 { font-size: 3rem; }
}

/* Paragraph */
p {
	font-size: 1.5rem;
	margin: 0;
	line-height: 1.4; }

.lead {
	font-size: 3rem; }

a {
  color:#4388cc;
  cursor:pointer; }

.box-text {
	padding:0.5rem 1rem;
	clear:both;
	width:100%;
	line-height:1.4;}

.transparent-dark {
	background: rgba(0,0,0,0.6);
	color:white; }


.container-background {
	padding:15rem 0;
	position:relative;
	background-repeat: no-repeat;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover; }
