<div class="container-rating">
  <p><a href="#" tooltip="Betyg på innehåll" placement="bottom">Innehåll</a> <span class="pull-right">4.0</span></p>
  <p><a href="#" tooltip="Betyg på timing" placement="bottom">Timing</a> <span class="pull-right">4.0</span></p>
  <p><a href="#" tooltip="Betyg på kroppspråk" placement="bottom">Kroppspråk</a> <span class="pull-right">4.0</span></p>
  <hr>
  <p><a href="#" tooltip="Totalt antal omdömen" placement="bottom">Totalt antal omdömen</a> <span class="pull-right">3</span></p>
  <p><a href="#" tooltip="Lägsta genomsnitt" placement="bottom">Lägsta genomsnitt</a> <span class="pull-right">2</span></p>
  <p><a href="#" tooltip="Högsta genomsnitt" placement="bottom">Högsta genomsnitt</a> <span class="pull-right">5</span></p>
</div>
<div class="container-rating">
  <img src="./assets/img/download.png" alt="Smiley face" class="profile-img"><a>Anders gav dig 4.3</a>
  <button class="btn btn-xs btn-primary clear-both display-block" >Gilla <i class="fa fa-thumbs-up"></i></button>
</div>
